header {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Minal';
    src: url('../font/Minal.woff2') format('woff2');
  }

@font-face {
    font-family: 'Nohemi-Bold';
    src: url('../font/Nohemi-Bold.woff2') format('woff2');
  }

@font-face {
    font-family: 'Nohemi-Light';
    src: url('../font/Nohemi-Light.woff2') format('woff2');
  }

@font-face {
    font-family: 'Nohemi-Medium';
    src: url('../font/Nohemi-Medium.woff2') format('woff2');
  }

@font-face {
    font-family: 'Nohemi-Regular';
    src: url('../font/Nohemi-Regular.woff2') format('woff2');
  }

h1 {
    font-family: 'Minal';
}
h2 {
    font-family: 'Nohemi-Medium';
}
h3 {
    font-family: 'Nohemi-Regular';
}
h4 {
    font-family: 'Nohemi-Regular';
}
p {
    font-family: 'Nohemi-Regular';
}

a {
    font-family: 'Nohemi-Regular';
}



footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

footer div {
    text-align: left;
}

footer img {
    max-width: 100;
}

footer button {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
}

h1 {
    font-family: 'Minal'
}
h2 {
    font-family: 'Nohemi-Medium'
}
h3 {
    font-family: 'Nohemi-Regular'
}
h4 {
    font-family: 'Nohemi-Regular'
}
p {
    font-family: 'Nohemi-Regular'
}
.equipe{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.header {
    text-align: center;
    padding: 200px 0;
    background-image: url('../images/hellfest.webp');
    opacity: 100%;
    background-size: cover;
    background-position: center;
    color: white;
}

.accueil{
    margin: 30px;
}

button {
    background-color: rgb(30, 99, 245);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 15px
    height: 58px;
    left: 557px;
    position: absolute;
    top: 577px;
    width: 167px;
}

button:hover {
    background-color: rgb(24, 79, 197)
}


/* EQUIPE */

.tete_equipe{
    width: 17em;
}

.equipeetcause{
    margin: 5em 20em 5em 20em;
}

/* HEADER */

#logo_header {
    width: 95px;
    height: 59px;
}

#picto_loupe {
    max-width: 25px;
}

.nav-link:hover{
    text-decoration: underline;
}

#navbar{
    background-color: white !important;
    padding: 20px;
    display: flex;
    justify-content: left;
}

.nav-link {
    margin: 30px;
    display: flex;
}

.nav-item {
    display: flex !important;
    justify-content: center!important;
    padding-left: 50px !important;
}

#connexion {
    background-color: white !important;
    border-color: white !important;
    color: black !important;
    justify-content: center !important;
}

.search_bar {
    border-radius: 20px !important;
    background-color: white !important;
    border: 1px solid black !important;
}

.search_icon {
    background: none !important;
    border: none !important;

}

.search_input {
    background: none !important;
    border: none !important;
    color: black !important;
}

/* ACCUEIL */

.article_accueil{
    display: flex;
    justify-content: space-around;
}