body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Minal';
    src: url('Minal.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Nohemi-Bold.woff2';
    src: url('Nohemi-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Nohemi-Light.woff2';
    src: url('Nohemi-Light.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Nohemi-Medium.woff2';
    src: url('Nohemi-Medium.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Nohemi-Regular.woff2';
    src: url('Nohemi-Regular.woff2') format('woff2');
  }

h1 {
    font-family: 'Minal';
    font-weight: 700px;
    font-size: 48px;
}
h2 {
    font-family: 'Nohemi-Medium';
    font-weight: 500px;
}
h3 {
    font-family: 'Nohemi-Regular';
    font-weight: 400px;
}
h4 {
    font-family: 'Nohemi-Regular';
    font-weight: 400px;
}
p {
    font-family: 'Regular';
    font-weight: 300px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

footer div {
    text-align: left;
}

footer img {
    max-width: 100;
}

footer button {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
}

.equipe{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.header {
    text-align: center;
    padding: 100px 0;
    background-image: url('chemin/vers/votre/image.jpg'); /* Remplacez par le chemin de votre image */
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Arial, sans-serif; /* Choisissez une police de caractères appropriée */
}

h1 {
    font-size: 36px;
}

button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005684;
}