body {
    margin: 0;
    padding: 0;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

footer div {
    text-align: left;
}

footer img {
    max-width: 100;
}

footer button {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
}



.header {
    text-align: center;
    padding: 100px 0;
    background-image: url('chemin/vers/votre/image.jpg'); /* Remplacez par le chemin de votre image */
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Arial, sans-serif; /* Choisissez une police de caractères appropriée */
}

h1 {
    font-size: 36px;
}

button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005684;
}